$sub-color: grey;
$main-color: #333;
$shrink-color: #f2f2f2;

@mixin shrinkLabel {
  top: -16px;
  font-size: 12px;
  font-weight: 500;
  color: $shrink-color;
}

.group {
  position: relative;
  width: 100%;

  .form-input {
    background: none;
    background-color: white;
    color: $main-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
