$full-bleed: rgb(151, 3, 3);
$MochiyFont: 'Mochiy Pop One', sans-serif;

.navbar {
  font-family: $MochiyFont;
  background-color: $full-bleed;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    .nav_link {
      color: #f2f2f2;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      padding-block: 1rem;
      padding-inline: 1rem;
      transition-timing-function: ease-in;
      transition-property: background-color;
      transition-duration: 200ms;

      &:is(:focus, :hover) {
        color: $full-bleed;
        background-color: #f2f2f2;
      }
    }
  }
}

.full-bleed {
  box-shadow: 0 0 0 100vmax $full-bleed;
  clip-path: inset(0 -100vmax);
}
